.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;

  width: 400px;
  margin-left: auto;
  margin-right: auto;

  border: 3px solid #000;
  border-radius: 20px;
}

.title {
  font-size: xx-large;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.statlist {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 10px;
}

.label {
  font-size: larger;
  margin-right: 10px;
}

.parcentage {
  font-style: initial;
}
